body {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.header-title {
  background-size: 100%;
  background-image: linear-gradient(to bottom right, white 0%, #ff99cc 50%);
  display: inline-block;
  font-family: 'Dosis', 'sans-serif';
  font-size: 5vw;
  margin: 2vw 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.space-cat-container {
  position: relative;
}

.space-cat-photo {
  max-width: 100%;
}

.space-cat-text {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
